@use "../../scss/" as *;

.Button {
    cursor: pointer;
    border-radius: var(--border-radius);
    padding: 11px 23px;
    display: flex;
    align-items: center;
    white-space: nowrap;

    text-align: center;
    font-size: 14px;
    line-height: 21px;
    height: fit-content;
    outline: none;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.primary {
    background-color: var(--primary-btn);
    color: var(--white);
    border: none;
    outline: none;

    &:not([disabled]):hover {
        background-color: var(--secondary-btn);
    }
    &:not([disabled]):active {
        background-color: var(--primary-btn);
    }
}

.outline {
    background-color: transparent;
    color: var(--primary-btn);
    border: 1px solid var(--primary-btn);

    &:not([disabled]):hover {
        background-color: var(--primary-btn);
        color: var(--white);
    }
    &:not([disabled]):active {
        background-color: var(--secondary-btn);
        color: var(--white);
    }
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.disabled {
    cursor: default;
}
