@use "../../scss/" as *;

.button {
    cursor: pointer;
    border-radius: var(--border-radius);
    padding: 11px 23px;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    width: 196px;
    height: 43px;
    outline: none;
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}

.primary {
    background-color: var(--primary-btn);
    color: var(--white);
    border: 1px solid var(--primary-btn);

    &:not([disabled]):hover {
        background-color: var(--secondary-btn);
        border: 1px solid var(--secondary-btn);
    }
    &:not([disabled]):active {
        background-color: var(--primary-btn);
        border: 1px solid var(--primary-btn);
    }
}

.outline {
    background-color: transparent;
    color: var(--primary-btn);
    border: 1px solid var(--primary-btn);

    &:not([disabled]):hover {
        background-color: var(--primary-btn);
        color: var(--white);
        border: 1px solid var(--primary-btn);
    }
    &:not([disabled]):active {
        background-color: var(--secondary-btn);
        color: var(--white);
        border: 1px solid var(--secondary-btn);
    }
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
}

.disabled {
    cursor: default;
}
