@use "../../scss/" as *;

.accordion {
    padding: 40px;
    background-color: var(--bg-accordion);
    display: flex;
    flex-direction: column;
    border-radius: 5px;

    @include tabletS {
        padding: 12px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__btn {
        height: 33px;

        @include tabletS {
            display: none;
        }

        svg {
            &:hover {
                opacity: 0.5;
            }
            &:active {
                opacity: 0.9;
            }
        }
    }

    &__title {
        font-weight: 700;
        font-size: 22px;
        line-height: 28px;

        @include tabletS {
            font-size: 18px;
            line-height: 23px;
        }
    }

    &__description {
        font-size: 16px;
        line-height: 21px;

        opacity: 0;
        transition: all 0.5s;
        height: 0;
        margin: 0;

        @include tabletS {
            font-size: 14px;
            line-height: 21px;
            height: auto;
            opacity: 1;
            margin-top: 14px;
        }
    }
}

.show {
    height: auto;
    opacity: 1;
    margin-top: 16px;
}
