@use "../../scss/" as *;

.hero {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: 288px;
    width: 100%;
    background-color: var(--bg-accordion);
    margin: 0 auto;

    @include tabletS {
        background-color: var(--white);
    }

    &__container {
        max-width: 1920px;
        width: 100%;
        height: 100%;
        display: flex;
    }

    &__picture {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 950px;
        min-width: 355px;
        min-height: 533px;

        width: 100%;
        height: 100%;
        @include tabletS {
            max-width: 100%;
            min-height: 288px;
        }
    }

    &__content {
        width: 100%;
        display: flex;
        @include tabletS {
            flex-direction: column-reverse;
        }
    }

    &__wrap {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        @include tabletS {
            justify-content: center;
            background-color: var(--bg-accordion);
        }
    }

    &__text {
        margin-top: 153px;
        width: 100%;
        width: 580px;

        @include tabletS {
            margin-top: 0px;
            padding: 34px 18px 53px;
            width: auto;
            text-align: center;
        }

        @media only screen and (max-width: $mobileM-width) {
            text-align: start;
        }
    }

    &__title {
        font-size: 36px;
        font-weight: 700;
        line-height: 39px;
        margin-bottom: 14px;
        width: 347px;

        @include tabletS {
            font-size: 26px;
            line-height: 29px;
            width: auto;
        }
    }

    &__description {
        font-size: 16px;
        line-height: 18px;
        width: 367px;

        @include tabletS {
            width: auto;
        }
    }
}

.picture {
    width: 100%;
    height: 100%;
}
