@use "../../scss/" as *;

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
}

.overlay {
    background: var(--bg-overlay);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: var(--overlay-z-index);

    @include tabletS {
        padding: 18px;
    }
}

.content {
    transition: 0.3s transform;
    transform: scale(0.5);
    position: relative;
    max-width: 1140px;
    width: 100%;

    @include mobileL {
        width: 340px;
    }
}

.opened {
    pointer-events: auto;
    opacity: 1;
    z-index: 10;

    .content {
        transform: scale(1);
        cursor: auto;
    }
}
.isClosing {
    .content {
        transform: scale(0.2);
    }
}
.button__close {
    margin-left: auto;
    margin-bottom: 22px;
    width: 20px;
    height: 20px;
    color: var(--bg-accordion);

    @include mobileL {
        position: absolute;
        top: 22px;
        right: 22px;
        z-index: 10;
        color: var(--additional-btn);

        svg {
            fill: var(--additional-btn);
        }
    }
}
