@use "../../scss/" as *;

.adress {
    display: flex;
    gap: 5px;
    align-items: flex-start;

    @include mobileL {
        display: none;
    }

    &__flex {
        display: flex;
        flex-direction: column;
    }

    &__street {
        color: var(--txt-secondary);
    }
}
