@use "../../scss/" as *;

.links {
    display: flex;
    gap: 15px;

    svg {
        height: 100%;
    }
    @include mobileL {
        gap: 20px;
    }
}

.link {
    width: 35px;
    height: 35px;
    display: flex;

    @include mobileL {
        width: 23px;
        height: 23px;
    }
}
