@use "../../scss/" as *;

.slide {
    &__item {
        padding: 0;
        width: 100%;
        height: 100%;
        display: flex;
        position: relative;

        @include tabletS {
            flex-direction: column;
        }
    }
    &__picture {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &__bg {
        position: absolute;
        right: 0;
        width: 692px;
        height: 440px;

        @include tabletS {
            width: auto;
            position: static;
        }
    }

    &__content {
        position: relative;

        @include tabletS {
            border-color: var(--bg-slide);
        }
    }

    &__svg {
        @include tabletS {
            display: none;
        }
    }
}

.content {
    &__info {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        padding: 53px 141px 125px 63px;

        @include tabletS {
            position: static;
            padding: 22px 30px 112px 23px;
            background-color: var(--bg-slide);
        }
    }

    &__title {
        font-weight: 700;
        font-size: 38px;
        line-height: 40px;
        text-transform: uppercase;
        margin-bottom: 12px;
    }

    &__target {
        font-weight: 700;
        font-size: 22px;
        line-height: 24px;
        margin-bottom: 16px;
    }

    &__list {
        list-style: disc;
        font-size: 16px;
        margin-bottom: 33px;
        padding-left: 17px;
        font-style: normal;
        font-weight: 400;
        //column-width: 100px;
        overflow: auto;
        height: 110px;

        li {
            line-height: 18px;
        }

        li::marker {
            color: var(--bg-nav);
        }
        li:not(:last-child) {
            margin-bottom: 12px;
        }
    }

    &__price {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-bottom: 26px;
    }

    &__btns {
        display: flex;
        align-items: center;
        gap: 14px;
    }

    &__btn {
        width: 196px;
        display: flex;
        justify-content: center;
    }
}

.price {
    &__total {
        font-size: 20px;
        line-height: 22px;
    }
    &__discount {
        color: var(--txt-secondary);
        font-size: 16px;
        line-height: 18px;

        text-decoration: line-through;
    }
}
