@use "./scss/" as *;

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 320px;
    position: relative;
}

.mobile__phone {
    @media only screen and (min-width: 768px) {
        display: none;
    }
}

.header {
    background-color: var(--white);

    &__box {
        display: flex;
        align-items: center;

        @include mobileL {
            width: 100%;
            justify-content: space-between;
        }
    }

    &__top {
        height: 67px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;

        @include mobileL {
            height: 65px;
        }
    }
    &__phone {
        display: flex;
        align-items: center;

        height: 100%;
        margin-right: 35px;
    }

    &__box__phone {
        display: flex;
        align-items: center;

        @include mobileL {
            display: none;
        }
    }
}

.main {
    margin-top: 100px;

    .container {
        max-width: 1140px;
        margin: 0 auto;
    }

    @include tabletS {
        margin-top: 35px;

        .container {
            padding: 0px 18px 0px 17px;
        }
    }
}

.footer {
    height: 144px;
    background-color: var(--bg-footer);
    display: flex;
    align-items: center;

    @include mobileL {
        height: auto;
        padding: 42px 17px;

        .container {
            padding: 0;
        }
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include mobileL {
            align-items: flex-start;
        }
    }

    &__direction {
        display: flex;
        width: 100%;

        @include mobileL {
            flex-direction: column;
            width: auto;
        }
    }
}

.adress_mobile {
    height: 100%;
    text-align: end;
    @media only screen and (min-width: 768px) {
        display: none;
    }
}
.phone_mobile {
    font-size: 16px;
    font-weight: 700;
}

.adress__city_mobile {
    font-size: 13px;
}
