.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    background-color: var(--white);

    &__box {
        display: flex;
        align-items: center;
    }

    &__top {
        height: 67px;
        border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;
    }
    &__phone {
        display: flex;
        align-items: center;

        height: 100%;
        margin-right: 35px;
    }
}

.main {
    margin-top: 100px;
}

.footer {
    height: 144px;
    background-color: var(--bg-footer);
    display: flex;
    align-items: center;

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
