@use "./variables" as *;

/* $mobileS-width: 375px;
$mobileM-width: 425px;
$mobileL-width: 768px;
$tabletS-width: 1200px;
$tabletL-width: 1440px; */

@mixin mobileS {
    @media only screen and (max-width: $mobileS-width) {
        @content;
    }
}
@mixin mobileL {
    @media only screen and (max-width: $mobileL-width) {
        @content;
    }
}
@mixin tabletS {
    @media only screen and (max-width: $tabletS-width) {
        @content;
    }
}


@mixin tabletL {
    @media only screen and (max-width: $tabletL-width) {
        @content;
    }
}
