:root {
    --txt-primary: #364844;
    --txt-secondary: #868686;
    --txt-additional: #c0c0c0;
    --border-color-input: #e1e1e1;
    --primary-btn: #0dbc91;
    --secondary-btn: #00d29f;
    --bg-nav: #1fa181;
    --bg-accordion: #f8fbfa;
    --bg-footer: #08664f;
    --bg-overlay: #45927f;
    --bg-mobile-overlay: rgba(69, 146, 127, 0.9);
    --bg-mobile-btn: #F6F6F6;
    --bg-slide: #e2f0ef;

    --white: #fff;
    --error: #da5151;
    --success: #2e7d32;
    --border-radius: 50px;
}

$mobileS-width: 375px;
$mobileM-width: 425px;
$mobileL-width: 768px;
$tabletS-width: 1200px;
$tabletL-width: 1440px;

$font-family: "PT Sans Caption", sans-serif;
