:root {
    --txt-primary: #364844;
    --txt-secondary: #868686;
    --border-radius: 50px;
    --primary-btn: #0dbc91;
    --secondary-btn: #00d29f;
    --color-additional: #ffce00; // 3
    --white: #fff;
}

$txt-main-color: #364844;
$txt-light-gray: #868686;

$white: #fff;

$body-bg: #ffffff;
$txt-color: #fff;
$error: #da5151;
$black: #000;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$header-height: 8rem;
$header-shrink-height: 5rem;
$border-radius-card: 10px;

$mobile-width: 630px;
$mobileLg-width: 950px;
$tablet-width: 1024px;

$font-family: "PT Sans Caption", sans-serif;
