@use "../../scss/" as *;

.slide {
    height: 440px;
    margin-bottom: 92px;
    @include tablet {
        height: 50vh;
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 36px;
    }

    &__count {
        font-size: 16px;
        display: flex;
        align-items: baseline;
    }

    &__current {
        font-weight: 700;
    }
    &__total {
        color: var(--txt-additional);
    }
}

.swiper {
    margin-bottom: 34px;

    height: 100%;
}
