@use "../../scss/" as *;

.slide {
    height: 440px;
    margin-bottom: 92px;

    @include tabletS {
        height: auto;
        margin-bottom: 35px;
    }

    &__btns {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 36px;
    }

    &__btn {
        &:hover {
            opacity: 0.5;
        }
        &:active {
            opacity: 0.9;
        }
    }

    &__count {
        font-size: 16px;
        display: flex;
        align-items: baseline;
    }

    &__current {
        font-weight: 700;
    }

    &__total {
        color: var(--txt-additional);
    }
}

.swiper {
    margin-bottom: 34px;

    height: 100%;

    border-radius: 5px 5px 5px 5px;

    @include tabletS {
        margin-bottom: 22px;
    }
}

.swiper__slide {
    height: auto !important;
}
