@use "../../scss/" as *;

.nav {
    height: 43px;
    display: block;

    @include mobileL {
        display: none;
    }

    &__list {
        display: flex;
        align-items: center;
        height: 100%;
        gap: 30px;
        font-size: 16px;
        line-height: 24px;
        color: var(--white);
    }
}

.footer {
    background-color: transparent;
}

.header {
    background-color: var(--bg-nav);
}
